.square {
    width: 130px;
    height: 130px;
    background: #cd5454;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.board {
    /*display: block;*/
   margin: auto;
   width: 500px;
}
